body {
    background-color: #C4E538;
    margin: 0
}

#content-container {
    padding: 0 24px;
}

#main-food-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.single-food-container {
    background-color: #12CBC4;
    padding: 16px;
    margin: 8px;
}
.single-food-container img, #single-food img {
    max-width: 200px;
}

.single-food-container h2 {
    margin-top: 0;
}

.x {
    float: right;
    margin: 0;
    cursor: pointer;
}

.nav-link {
    margin-right: 8px
}

nav {
    background-color: #9b59b6;
    padding: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}

.emoji {
    font-size: 60px;
    margin: 10px 0;
}

.emoji-link {
    text-decoration: none;
}
